/* Index css */

.containers {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    margin: auto;
    margin-top: 30px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
  }

  .centered2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
  }

  .centered3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
  }

  .container2{
      margin: auto;
      margin-top: 60px;
      text-align: center;
  }

  /* .container3{
    margin: auto;
    margin-top: 100px;
    text-align: center;
} */

.card{
    border-radius: 8%;
    /* border: 0.1px solid black; */
    box-shadow: 1px 1px 10px #aaaaaa;
  }

  .card2{
    /* border-radius: 8%; */
    /* border: 0.1px solid black; */
    box-shadow: 1px 1px 10px #aaaaaa;
    background-color: white;
    margin-top: 70px;
  }

  .card-title{
    color: rgb(59, 156, 235);
  }




  .button {
    border-radius: 10px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }











  /* Login css */









.booking-form-login{
	background-color: #fff;
	padding: 40px 20px;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	width: 23%;
	margin-left: 150px;
	margin-top: 50px;
  margin-bottom: 50px;
	opacity: 0.9;
}

.booking-form-login .op{
	background-color: white;
	opacity: 0.9;
}

.booking-form-login .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form-login .form-control {
	background-color: #ebecee;
	border-radius: 4px;
	border: none;
	height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #3e485c;
	font-size: 14px;
}

.booking-form-login #form-label{
	margin-top: 30px;
}

.booking-form-login .form-label {
	display: inline-block;
	color: #3e485c;
	font-weight: 700;
	margin-bottom: 6px;
	margin-left: 7px;
}

.booking-form-login .submit-btn {
	display: inline-block;
	color: #fff;
	background-color: #1e62d8;
	font-weight: 700;
	padding: 14px 30px;
	border-radius: 4px;
	border: none;
}

.booking-form-login .submit-btn:hover,
.booking-form-login .submit-btn:focus {
	opacity: 0.9;
}











/* Sign Up css */









.loginheader{
	margin-bottom: 0px;
	margin-top: 1px;
}

.booking-form-signup{
	background-color: #fff;
	padding: 30px 20px;
  padding-bottom: 30px;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	width: 25%;
	margin-left: 150px;
	margin-top: 50px;
  margin-bottom: 50px;
	opacity: 0.9;
}

.booking-form-signup .op{
	background-color: white;
	opacity: 0.9;
}

.booking-form-signup .form-group {
	position: relative;
	margin-bottom: 15px;
}

.booking-form-signup .form-control {
	background-color: #ebecee;
	border-radius: 4px;
	border: none;
	height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #3e485c;
	font-size: 14px;
}



.booking-form-signup .form-label {
	display: inline-block;
	color: #3e485c;
	font-weight: 700;
	margin-bottom: 6px;
	margin-left: 7px;
}

.booking-form-signup .submit-btn {
	display: inline-block;
	color: #fff;
	background-color: #1e62d8;
	font-weight: 700;
	padding: 14px 30px;
	border-radius: 4px;
	border: none;
}

.booking-form-signup .submit-btn:hover,
.booking-form-signup .submit-btn:focus {
	opacity: 0.9;
}


input[type="radio"]{
  margin-right: 8px;
  margin-left: 8px;
}











/* Fix Page CSS*/








.fiximg{
  margin: auto;
}

.fiximgtxt{
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

.centered4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(15%, -350%);
}

.centered5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(10%, -100%);
}

.centered6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(10%, 50%);
}

.containers2 {
  position: relative;
  /* text-align: center; */
  color: rgb(255, 255, 255);
  width: 100%;
  margin: auto;
  margin-top: 30px;
}















/* Kit Guides CSS */
















.wrapper{
  max-width: 450px;
  margin: 100px auto;
}

.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}
















/* Mobile Fix CSS */
















.mobiletnc{
  margin-top: 40px;
  /* width: 60%; */
}


.mobiletnc2{
  margin-top: 20px;
  /* width: 60%; */
}