.containers {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    margin: auto;
    margin-top: 30px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
  }

  .centered2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
  }

  .centered3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
  }

  .container2{
      margin: auto;
      margin-top: 60px;
      text-align: center;
  }

  /* .container3{
    margin: auto;
    margin-top: 100px;
    text-align: center;
} */

.card{
    border-radius: 8%;
    /* border: 0.1px solid black; */
    box-shadow: 1px 1px 10px #aaaaaa;
  }

  .card2{
    /* border-radius: 8%; */
    /* border: 0.1px solid black; */
    box-shadow: 1px 1px 10px #aaaaaa;
    background-color: white;
    margin-top: 70px;
  }

  .button {
    border-radius: 10px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }